*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

#light{
    height: 100vh;
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
}
#light button{
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}